* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.title {
  font-size: 34px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  border: 2px solid #e1e1e1;
  font-size: 16px;
  margin-bottom: 20px;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.container {
  padding: 20px 105px;
}

.row {
  display: flex;
  align-items: center;
  &--right {
    justify-content: flex-end;
  }
}

.button {
  color: #2b91ed;
  border: 2px solid #2b91ed;
  padding: 10px 30px;
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  margin-bottom: 30px;
  text-decoration: none;
  transition: all 0.2s ease 0s;
  &:hover {
    background: #2b91ed;
    color: #fff;
  }
  &--plus {
    margin-bottom: 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    width: 29px;
    height: 29px;
    color: #fff;
    background: #2b91ed;
    &:hover {
      background: #fff;
      color: #2b91ed;
    }
  }
  &--minus {
    margin-bottom: 0;
    padding: 0;
    font-size: 24px;
    line-height: 27px;
    width: 29px;
    height: 29px;
    color: #fff;
    border-color: #474f58;
    background: #474f58;
    &:hover {
      background: #fff;
      color: #474f58;
    }
  }
  &--full {
    background: #2b91ed;
    color: #fff;
    &:hover {
      background: #fff;
      color: #2b91ed;
    }
  }
}
