.block {
  &--preview {
    width: 150px;
    margin-right: 40px;
    img {
      width: 100%;
    }
  }
  &--form {
    form {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: flex-start;
    }
  }
}

label {
  margin-bottom: 10px;
  width: 500px;
  input {
    width: 500px;
  }
  div {
    width: 100%;
    color: #8d8d8d;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }
}