* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: #f9f9f9;
  display: flex;
  justify-content: center;
}

a {
  color: #2b91ed;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.login-container {
  width: 700px;
  top: 200px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #2b91ed;
  position: absolute;
  padding: 20px;
  border-radius: 30px;

  .row {
    padding-top: 20px;
    width: 100%;
  }
  .block {
    padding: 20px;
    &--login {
      border-right: 2px solid #e1e1e1;
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: baseline;
      form {
        width: 300px;
      }
    }
    &--signup {
      width: 40%;
    }
    &__info {
      margin-bottom: 15px;
      color: #f57575;
      display: none;
      &.visible {
        display: block;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
